<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
<listeners>
<listener class-name="test9.listen.MyListener"/>
</listeners>
   <test name = "register">
      <classes>
         <class name = "test9.listen.Ex2" />
      </classes>
   </test>
</suite>  